body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: #e8f3f6 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
.banner{
  background-color: #26BAEE;
  max-height: 10rem;
  color: white;
  padding: 2rem 2rem 3rem 2rem;
}

.gradient-bg {
  background: linear-gradient(to bottom, #26BAEE 30vh, white 0%); 
}
