.map__container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.address-confirm {
  position: absolute;
  z-index: 1;
  width: 10rem !important;
  bottom: 0;
  margin-bottom: 100px;
}

.card-map-container {
  position: relative;
  z-index: 5;
  margin-top: 30rem;
}

.card-map-container p {
  color: #938f8f;
}
.card-pickup {
  padding: 20px;
  min-height: 28vh;
}

div.mapboxgl-ctrl-geocoder.mapboxgl-ctrl{
  margin-top: 5vh;
  margin-left: 1.5vw;
  min-width: 36.3vw;
}